{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido a Manager Contactos</h1>
        <p class="col-md-8 mx-auto fs-4 text-muted">
            Gestiona tus contactos y clasifícalos por categorías y grupos
        </p>
        <hr class="my-4">
        <h3>Actualmente tienes <span class="badge bg-primary">{{ total }}</span> contactos registrados.</h3>
    </div>
</div>
{% endblock %}